* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #CB0404, #F3C623);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.judul {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 11;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  width: 80vw;
  max-width: 320px;
  height: 80vw;
  max-height: 320px;
  background-color: white;
  border-radius: 50%;
  border: 12px solid #dde;
  position: relative;
  overflow: hidden;
  transition: 5s;
}

p {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}


.container div {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 58px;
  transform: translateX(-50%);
  transform-origin: bottom center;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  display: flex;
  align-items: flex-end; 
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 5px;
  padding-bottom: 80px;
}

/* .container .highlight {
  background-color: #BE5B50 !important;
  color: black !important;
  transition: background-color 1s ease-out;
  transition: color ease-out;
} */

.container .highlight {
  background-color: #FBDB93  !important;
  color: black !important;
  opacity: 1; /* Menetapkan opasitas penuh saat highlight */
  transition: background-color 1s ease, color 1 ease, opacity 1 ease, ; /* Efek pemudaran dengan durasi 2 detik */
}

/* Efek fade out (memudar) */
.container .highlight.fade-out {
  opacity: 0;
}

/* Pointer panah */
.panah {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  z-index: 10;
}

.panah::before {
  content: '⬇';
  font-size: 30px;
  display: block;
}

/* Tombol spin */
#spin {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #007bff;
  color: white;
  border: 6px solid white;
  font-weight: bold;
  font-size: 14px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsif */
@media (max-width: 400px) {
  #spin {
    width: 60px;
    height: 60px;
    font-size: 12px;
  }

  .panah::before {
    font-size: 28px;
  }

  .container div {
    font-size: 0.75em;
  }
}
